#player-turn {
  .card-carousel {
    display: flex;
    overflow: auto;
  }

  .playing-card {
    position: relative;
    background-color: #fafafa;
    border: 1px solid #1a1a1a;
    border-radius: 1rem;
    min-width: calc(100% - 2px);
    width: 100%;
    margin-right: 2rem;
    font-size: 1.75rem;
    aspect-ratio: 20/28;

    &.selected {
      background: blue;
    }

    &:last-of-type {
      margin-right: 0;
    }

    > div {
      padding: 1.5rem 2rem;
    }
  }

  .selected-cards {
    font-size: 1.25rem;
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    > div {
      margin-bottom: 3rem;
    }

    button {
      display: block;
    }
  }

  &.prompter {
    .card-carousel {
      .playing-card {
        background-color: #1a1a1a;
        color: #fafafa;
      }
    }
  }
}
