#waiting-room {
  display: flex;

  flex-direction: column;
  > * {
    margin: 0 0 1rem 0;
  }

  h2 {
    margin-bottom: 2rem;
  }

  > p {
    text-align: center;
  }

  > p.or {
    margin: 1rem 0 2rem 0;
  }

  > input {
    text-transform: uppercase;
  }
}
