#waiting-room {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  > * {
    margin: 0 0 1rem 0;
  }

  > p {
    text-align: center;
  }

  > p.or {
    margin: 1rem 0 2rem 0;
  }

  > input {
    text-transform: uppercase;
  }
}
