#host-dashboard {
  h1 {
    margin-bottom: 2em;
    text-align: center;
  }

  position: relative;

  .players {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .player-tile {
      width: 50%;
      margin-bottom: 4rem;

      &:nth-of-type(2n) {
        text-align: right;
      }
    }
  }

  .prompt {
    position: absolute;
    width: 20rem;
    left: calc(50% - 10rem);

    h2 {
      text-align: center;
    }
    .playing-card {
      margin: 0;
    }
  }
}
