#waiting-room {
  display: flex;

  flex-direction: column;
  > * {
    margin: 0 0 1rem 0;
  }

  h1 {
    margin-bottom: 2rem;
    text-align: center;
  }

  > p,
  div {
    text-align: center;
  }

  > p.or {
    margin: 1rem 0 2rem 0;
  }

  .room-code {
    font-size: 2rem;
  }

  > input {
    text-transform: uppercase;
  }

  .start-game-button {
    margin-top: 2rem;
  }
}
